# Configuration for MySQL Sever
[mysqld]
# Character code setting
character-set-server = utf8mb4
collation-server = utf8mb4_bin

# Auto commit off
autocommit=0

# Time-zone setting
default-time-zone = SYSTEM
log_timestamps = SYSTEM

# Default authentication plugin
default-authentication-plugin = mysql_native_password

# Error log file
log-error = /var/log/mysql/mysql-error.log

# Slow query log file
slow_query_log = 1
slow_query_log_file = /var/log/mysql/mysql-slow.log
long_query_time = 5.0
log_queries_not_using_indexes = 0

# Execution log file
general_log = 1
general_log_file = /var/log/mysql/mysql-query.log

# mysql options
[mysql]
# Character code setting
default-character-set = utf8mb4

# mysql client setting
[client]
# Character code setting
default-character-set = utf8mb4
